<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <description>Customer Chatter Community for FoundryView 2.0 Application</description>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>global-foundryview_support@globalfoundries.com</emailSenderAddress>
    <emailSenderName>Global Foundry View, Support</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <permissionSet>Overage_Tab_Access_Permission_Set_for_My_Devices</permissionSet>
        <permissionSet>Overage_Tab_Access_Permission_Set_for_My_Wafers</permissionSet>
        <permissionSet>Overage_Tab_Access_Permission_Set_for_PDK_Design_Documents</permissionSet>
        <permissionSet>Overage_Tab_Access_Permission_Set_for_Product_Services</permissionSet>
        <profile>admin</profile>
        <profile>enablement partner portal profile</profile>
        <profile>enablement partner portal admin</profile>
        <profile>customer portal profile</profile>
        <profile>customer portal admin</profile>
        <profile>reseller portal admin</profile>
        <profile>reseller portal profile</profile>
        <profile>supplier portal admin</profile>
        <profile>supplier portal profile</profile>
        <profile>gf system admin</profile>
        <profile>gf biz ops pricing</profile>
        <profile>gf ce</profile>
        <profile>gf biz ops alliances</profile>
        <profile>gf csr</profile>
        <profile>gf apps user</profile>
        <profile>gf developer</profile>
        <profile>gf fae/fts</profile>
        <profile>gf wwms executive</profile>
        <profile>gf strategic marketing</profile>
        <profile>gf sales user</profile>
        <profile>gf global admin</profile>
        <profile>gf integration</profile>
        <profile>gf product management</profile>
        <profile>gf regional admin</profile>
        <profile>gf planning platform</profile>
        <profile>gf app user platform</profile>
        <profile>gf finance</profile>
        <profile>gf marcom</profile>
        <profile>gf supplier platform</profile>
        <profile>overage customer portal profile</profile>
        <profile>overage customer portal admin</profile>
        <profile>overage enablement partner portal profile</profile>
        <profile>overage supplier portal profile</profile>
        <profile>overage supplier portal admin</profile>
        <profile>overage reseller portal admin</profile>
        <profile>overage reseller portal profile</profile>
        <profile>overage enablement partner portal admin</profile>
        <profile>gf piye platform</profile>
        <profile>gf executive assistant platform</profile>
        <profile>gf gtc</profile>
        <profile>gf litho user platform</profile>
        <profile>gf planning standard</profile>
        <profile>gf piye standard</profile>
        <profile>gf supplier standard</profile>
        <profile>gf litho user standard</profile>
        <profile>gf executive assistant standard</profile>
        <profile>gf read-only</profile>
        <profile>gf de standard</profile>
        <profile>gf de platform</profile>
        <profile>gf tapeout</profile>
        <profile>gf contracts users</profile>
        <profile>gf de lite</profile>
        <profile>gf piye lite</profile>
        <profile>gf planning lite</profile>
        <profile>gf litho user lite</profile>
        <profile>gf executive assistant lite</profile>
        <profile>gf sales user lite</profile>
        <profile>gf product management lite</profile>
        <profile>gf fae/fts lite</profile>
        <profile>gf consultants</profile>
        <profile>gf csr lite</profile>
        <profile>gf ce lite</profile>
        <profile>gf apps user lite</profile>
        <profile>gf cusr/ewsr</profile>
        <profile>gf supplier lite</profile>
        <profile>gf contracts users lite</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>GLOBALFOUNDRYVIEW1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>GLOBALFOUNDRYVIEW</site>
    <status>Live</status>
    <tabs>
        <customTab>Getting_Started</customTab>
        <customTab>ICC_Users</customTab>
        <customTab>My_Devices</customTab>
        <customTab>My_Wafers</customTab>
        <customTab>Products_Services</customTab>
        <customTab>PDK_Design_Documents</customTab>
        <customTab>Portal_Tab_Access__c</customTab>
        <customTab>Team_Room__c</customTab>
        <customTab>Supplier_Service</customTab>
        <customTab>DWP__c</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>CollaborationGroup</standardTab>
    </tabs>
    <urlPathPrefix>GlobalfoundryView</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
