<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>baijnath.rathour@globalfoundries.com</emailSenderAddress>
    <emailSenderName>Training</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>false</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>false</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>gf litho user platform</profile>
        <profile>gf de standard</profile>
        <profile>gf de platform</profile>
        <profile>gf executive assistant standard</profile>
        <profile>gf litho user standard</profile>
        <profile>gf supplier standard</profile>
        <profile>gf piye standard</profile>
        <profile>gf planning standard</profile>
        <profile>gf executive assistant platform</profile>
        <profile>gf read-only</profile>
        <profile>gf supplier platform</profile>
        <profile>gf apps user</profile>
        <profile>gf biz ops pricing</profile>
        <profile>gf ce</profile>
        <profile>gf csr</profile>
        <profile>gf developer</profile>
        <profile>gf fae/fts</profile>
        <profile>gf global admin</profile>
        <profile>gf marcom</profile>
        <profile>gf product management</profile>
        <profile>gf sales user</profile>
        <profile>gf strategic marketing</profile>
        <profile>gf system admin</profile>
        <profile>gf wwms executive</profile>
        <profile>gf biz ops alliances</profile>
        <profile>gf integration</profile>
        <profile>gf app user platform</profile>
        <profile>gf finance</profile>
        <profile>gf planning platform</profile>
        <profile>gf consultants</profile>
        <profile>gf regional admin</profile>
        <profile>gf piye platform</profile>
        <profile>gf gtc</profile>
        <profile>gf contracts users</profile>
        <profile>gf tapeout</profile>
        <profile>gf de lite</profile>
        <profile>gf piye lite</profile>
        <profile>gf planning lite</profile>
        <profile>gf litho user lite</profile>
        <profile>gf executive assistant lite</profile>
        <profile>gf sales user lite</profile>
        <profile>gf product management lite</profile>
        <profile>gf fae/fts lite</profile>
        <profile>gf cusr/ewsr</profile>
        <profile>gf csr lite</profile>
        <profile>gf ce lite</profile>
        <profile>gf apps user lite</profile>
        <profile>gf supplier lite</profile>
        <profile>gf contracts users lite</profile>
        <profile>gf piye</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Standard</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Standard</homePageOverrideSetting>
        <loginPageOverrideSetting>Standard</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Standard</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Training1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Training</site>
    <status>Live</status>
    <tabs>
        <customTab>Employee_Training_Home</customTab>
        <defaultTab>01r90000000qVeu</defaultTab>
        <standardTab>Knowledge</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>CollaborationGroup</standardTab>
    </tabs>
    <urlPathPrefix>training</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
