.THIS {
	background-color: rgb(245, 244, 244);
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    display: table;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px grey;

}

.THIS .heading1{
	font-weight: 900;
	font-size: 2em;
	margin:15px;
}
.THIS .heading2{
	font-weight: 900;
	font-size: 1.7em;
	margin:10px
}

.THIS .heading3{
	font-weight: 700;
	font-size: 1.3em;
	margin:5px
}
.THIS .heading4{
	font-weight: 900;
	font-size: 1em;
	margin:5px
}

.THIS p{
	margin-left: 2em;
}

.THIS .moveABit{
	margin:20px;
	margin-left: 50px;
}