.THIS .settings .question{
	float: left;
  	width: 125px;
  	text-align: right;
  	margin: 2px 10px;
  	display: inline;
}

.THIS .settings .switch{
    float: left;
	text-align: left;
  	margin: 3px 8px;
  	display: inline;
    padding-left: 200px;
}

.THIS .innerRow:hover {
    background-color: #cbe8f1;
}

.THIS .container {    
    max-width: 1800px !important;
}